<!-- app.component.html -->

<div class="container">
  <li>ADDREES FILING APP</li>
</div>

<div class="container">
  <button (click)="goToClientForm(1)">Client 1 Form</button>
  <button (click)="goToClientForm(2)">Client 2 Form</button>
  <button (click)="goToClientForm(3)">Client 3 Form</button>
  <button (click)="goToClientForm(4)">Client 4 Form</button>
  <button (click)="goToClientForm(5)">Client 5 Form</button>
</div>

<router-outlet></router-outlet>

<div class="container">
  <p>Thanks.</p>
</div>