<!-- app.component.html -->
<div class="page-container">

<div class="container">
  <li>SMART ADDREES AUTO-FILING APP</li>
</div>

<div class="container">
  <button (click)="goToClientForm(1)">Market Place A</button>
  <button (click)="goToClientForm(2)">X Kart</button>
  <button (click)="goToClientForm(3)">Delivery Light</button>
  <button (click)="goToClientForm(4)">D2C Brand</button>
  <button (click)="goToClientForm(5)">GenAI Shop</button>
</div>

<router-outlet></router-outlet>

<div class="container">
  <p>Thanks.</p>
</div>
</div>