<div class="form-container">
    <form (submit)="onSave()">
        <div class="form-block form-row">
            <div class="form-col">
                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" [(ngModel)]="formData.phone" required class="form-row"
                    (input)="onPhoneNumberChange()">
            </div>
            <div class="form-col">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" [(ngModel)]="formData.name" required class="form-row">
            </div>
        </div>
        <div class="form-block form-row">
            <div class="form-col">
                <label for="pincode">Pincode:</label>
                <input type="text" id="pincode" name="pincode" [(ngModel)]="formData.pincode" required class="form-row">
            </div>
            <div class="form-col">
                <label for="locality">Locality:</label>
                <input type="text" id="locality" name="locality" [(ngModel)]="formData.locality" required
                    class="form-row">
            </div>
        </div>
        <div class="form-row">
            <label for="area">Area/Street:</label>
            <input type="text" id="area" name="area" [(ngModel)]="formData.area" required
                class="form-row double-height">
        </div>
        <div class="form-row">
            <label for="city">City/District/Town:</label>
            <input type="text" id="city" name="city" [(ngModel)]="formData.city" required class="form-row">
        </div>
        <div class="form-row">
            <label for="state">State:</label>
            <select id="state" name="state" [(ngModel)]="formData.state" required class="form-row">
                <option *ngFor="let option of stateOptions" [value]="option">{{ option }}</option>
                <!-- Add more options as needed -->
            </select>
        </div>
        <div class="form-row">
            <label for="landmark">Landmark:</label>
            <input type="text" id="landmark" name="landmark" [(ngModel)]="formData.landmark" class="form-row">
        </div>
        <div class="form-row">
            <div class="modal" *ngIf="loading">
                <div class="modal-content loading-spinner"> Loading... </div>
            </div>
            <button type="submit">Save</button>
            <button type="button" (click)="onCancel()">Cancel</button>
        </div>
    </form>

    <div class="modal" *ngIf="showModal">
        <div class="modal-content">
            <h2>Suggestions</h2>
            <ul>
                <li *ngFor="let suggestion of suggestions | keyvalue">
                    <button (click)="onSuggestionSelected(suggestion.key, suggestion.value)">
                        {{ suggestion.value }}
                    </button>
                </li>
            </ul>
            <button (click)="onCancelSuggestions()">Cancel</button>
        </div>
    </div>
</div>